<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="/css/styles.css">
    </header>
    <body>
        {{>header}}
        <p>{{errorMessage}}</p>
        {{>footer}}
    </body>
</html>